.ContactUs{
    border-top: 3px solid lightgray;
    border-style: dashed;

    &__content{
        &__right{
            &__heading{
                h2{
                    font-weight: 700;
                }
                i{
                    font-size: 14px;
                    color: gray;
                }
            }
            &__form{
                button{
                    height: 45px;
                    background-color: black;
                    &:hover{
                        background-color: white;
                        border: 2px solid !important;
                    }
                    .icon{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}