.Navbar {
    
    z-index: 2;
    ul {
        li {
            font-weight: 600;
            cursor: pointer;
        }
        .product__search{
            position: relative ;
            &__input{
                position: absolute;
                width: 300px;
                bottom: -110%;
                right: 0;
                padding: 0;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: space-between;
                box-shadow: 0 0 10px gray;
                background-color: white;
                input{
                    height: 40px;
                    border: 0;
                    width: 100%;
                    outline: none;
                    font-style: italic;
                }
                .icon{
                    background-color: rgb(48, 47, 47);
                    height: 40px;
                    width: 50px;
                    padding: 8px;
                    color: white;
                    transition: 0.2s;
                    box-shadow: 3px 0 10px gray;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
            .show__input{
                animation: show 0.7s ease-in;
            }
            @keyframes show {
                0%{
                    bottom: 0;
                    opacity: 0;
                    width: 0;
                }
                100%{
                    bottom: -110%;
                    opacity: 1;
                    width: 300px;
                }
            }
            .hide__input {
                animation: hide 0.7s ease-out forwards; /* Add "forwards" to keep the final state of the animation */
            }
        
            @keyframes hide {
                0% {
                    bottom: -110%;
                    opacity: 1;
                    width: 300px;
                }
                100% {
                    bottom: 0;
                    opacity: 0;
                    width: 0;
                    z-index: -1;
                }
            }
        }
        .cart{
            position: relative;
            span{
                font-size: 12px;
                position: absolute;
                border: 2px solid black;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                text-align: center
            };
        }
        span{
            cursor: pointer;
        }

        .submenu {
            position: relative;

            ul {
                position: absolute;
                top: 150%;
                width: 200px;
                background-color: white;
                padding: 10px;
                box-shadow: 1px 1px 10px black;
                z-index: 1;

                li {
                    font-weight: 400;
                    padding: 5px 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    // bottom: 100%;
                    left: 10%;
                    // right: 85%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #000000 transparent;
                }
            }
        }
    }
}
.Navbar.active {
    background-color: white;
    animation: slide 0.3s;
    box-shadow: 0px 0px 5px gray;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    @keyframes slide {
        from {
            height: 0px;
            opacity: 0;
        }

        to {
            height: 100px;
            opacity: 1;
        }
    }

}

.Navbar.noActivew{
    background-color: transparent;
    animation: back 0.3s;

    @keyframes back {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
.mobile__cart{
    display: none;
}

@media(max-width: 1000px){
    .Navbar{
        .container{
            margin: 0 ;
        }
        .nav-item{
            .nav-link{
                font-size: 12px;
            }
        }
    }
    }
    @media(max-width: 720px){
        .Navbar{
            padding: 10px 0 !important;
            margin: 0;
        }
        .navLinks{
            display: none;
        }
        .mobile__cart{
            display: block;
        }
    }